In [1]:
print("Hello Today is revision day ")
print("    /|")
print("   / |")
print("  /  |")
print(" /___|")

Hello Today is revision day
    /|
   / |
  /  |
 /___|

Variable and data type

In [ ]:
name = "bro"
age = 30
print( "yero tokko nama maqaan isaa " + name + " ," )
print(f"inni umriin is wagga {age} ture ,")
print("Inni maqaa isaa " + name + " hin jallatu.")

yero tokko nama maqaan isaa bro ,
inni umriin is wagga 30 ture ,
Inni maqaa isaa bro hin jallatu.

Python using as calculator

In [ ]:
2 + 2

5.0

In [ ]:
50 - 5*7

15

In [ ]:
(50 - 5*6) / 4

5.0

text

In [ ]:
" Doesn\'t"

" Doesn't"

In the Python shell, the string definition and output string can look different. The print() function produces a more readable output, by omitting the enclosing quotes and by printing escaped and special characters:

In [ ]:
s = "First line \nSecond line"
s

'First line \nSecond line'

In [ ]:
print(s)

First line
Second line

Strings can be concatenated (glued together) with the + operator, and repeated with *:

In [ ]:
"try " + 3 * "again and "

'try again and again and again and '

Two or more string literals (i.e. the ones enclosed between quotes) next to each other are automatically concatenated.

In [ ]:
"i want to solve a python problem  " "on leetcode and hacker rank "

'i want to solve a python problem  on leetcode and hacker rank '

this only works two litrals not with variables or expression

In [ ]:
prefix = "leet"
prefix "code"

SyntaxError: invalid syntax (ipython-input-429191910.py, line 2)

if we want to concatnate variables or  a variable and literals, we use +:

In [ ]:
prefix = "leet"
prefix + "code"

'leetcode'

string can be indexed , starting from 0 index to n - 1 len of string

In [ ]:
word = "leetcode is the best platform for solving a problem"

In [ ]:
print(len(word))

51

In [ ]:
word [0]

'l'

In [ ]:
word [-1]

'm'

In addition to indexing, slicing is also supported. While indexing is used to obtain individual characters, slicing allows you to obtain a substring:

In [ ]:
word [20 : 30]

' platform '

Python strings cannot be changed â€” they are immutable. Therefore, assigning to an indexed position in the string results in an error:

In [ ]:
word [:5] = "code"

TypeError: 'str' object does not support item assignment

acepting input from users

In [ ]:
name = input("enter your name: ")
print("my name is " + name )

enter your name: ajme
my name is ajme

summation of two number accepting input from users

In [ ]:
num1 = int(input("enter first number = "))
num2 = int(input("enter second number = "))
sum = num1 + num2
print(f"the sum of {num1} and {num2} is: {sum}")

Fibonic

In [ ]:
a, b = 0, 1
while a < 10:
  print(a)
  a, b = b, a + b

0
1
1
2
3
5
8

# Advanced content  Lists , set .... DS?

In [ ]:
from typing import List
class Solution:
    def getSneakyNumbers(self, nums: List[int]) -> List[int]:
      two_m = []
      for i in range(len(nums)):
        for j in range(i+1,len(nums)):
          if nums[i] == nums[j]:
            two_m.append(nums[i])
      return sorted(two_m)
sol = Solution()
nums = [7,1,5,4,3,4,6,0,9,5,8,2]
print(sol.getSneakyNumbers(nums))

[4, 5]

In [ ]:
from typing import List
class Solution:
    def getSneakyNumbers(self, nums: List[int]) -> List[int]:
      seen_number = set()
      duplicate = []
      for num in nums:
        if num in seen_number:
          duplicate.append(num)
          if len(duplicate) == 2:
            return duplicate
        else:
          seen_number.add(num)
      return duplicate
sol = Solution()
num1 = [7,1,5,4,3,4,6,0,9,5,8,2]
print(sol.getSneakyNumbers(num1))

[4, 5]

factorial

In [1]:
def factorial(n):
    if n == 0 or n ==1:
        return 1
    else:
        return n * factorial(n - 1)
print(factorial(5))

120

# Linear Search

In [11]:
def linear_search(arr, key):
    for i in range(len(arr)):
        if arr[i] == key:
            return i
    return -1
arr = [4,2,3,5,6,7,8,9]
key = 5
print(linear_search(arr, key))

3

# Binary Search

In [15]:
def binary_search(arr, key):
    bottom = 0
    top = len(arr) - 1
    while bottom <= top:
        mid = (bottom + top) // 2
        if arr[mid] == key:
            return mid
        elif arr[mid] < key:
            bottom = mid + 1
        else:
            top = mid - 1
    return -1
arr = [1,2,3,4,5,6,7,8,9]
key = 7
print(binary_search(arr, key))

6

# Binary sort

In [16]:
def binary_sort(arr):
    n = len(arr)
    for i in range(n):
        for j in range(0, n-i-1):
            if arr[j] > arr[j +1]:
                arr[j], arr[j +1] = arr[j +1], arr[j]
    return arr
arr = [64, 34, 25, 12, 22, 11, 90]
print(binary_sort(arr))

[11, 12, 22, 25, 34, 64, 90]

# Sellection sort

In [17]:
def selection_sort(arr):
    n = len(arr)
    for i in range(n):
        min_index = i
        for j in range(i + 1, n):
            if arr[j] < arr[min_index]:
                min_index = j
        arr[i] , arr[min_index] = arr[min_index], arr[i]
    return arr
arr = [64, 25, 12, 22, 11]
print(selection_sort(arr))

[11, 12, 22, 25, 64]

# insertion sort

In [18]:
def insertion_sort(arr):
    n = len(arr)
    for i in range(1, n):
        key = arr[i]
        j = i -1
        while j >= 0  and key < arr[j]:
            arr[j + 1] = arr[j]
            j -= 1
        arr[j + 1] = key
    return arr
arr = [12, 11, 13, 5, 6]
print(insertion_sort(arr))

[5, 6, 11, 12, 13]